$color-bg: rgb(255,255,255);
$color: rgb(255,255,255);

$nav-color-bg: rgb(51,51,51);
$top-color-bg: rgb(203,0,0);

$menu-color: rgb(204,204,204);
$menu-bar-border-color: rgb(72,72,72);
$menu-icons-color: rgb(179,179,179);
$menu-ul-color: rgb(128,128,128);

$hamburger-color: rgb(0,0,0);

$nav-size: 300px;