$color-bg: #ffffff;
$color: #ffffff;

$nav-color-bg: #333333;
$top-color-bg: #cb0000;

$menu-color: #cccccc;
$menu-bar-border-color: #484848;
$menu-bar-arrow-color: #5c5c5c;
$menu-icons-color: #b3b3b3;
$menu-icons-hover-color-bg: #4d4d4d;
$menu-ul-color: #808080;

$hamburger-color: #000000;
$add-butt-color: #86b008; 

$font-size: 18px;
$nav-width: 300px;
$alert-width: 644px;