@import "settings";
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: $color-bg;
    color: $color;
}

nav {
    background-color: $nav-color-bg;
    position: absolute;
    width: $nav-size;
    bottom: 0;
    top: 0;
}

.top {
    background-color: $top-color-bg;
    margin-left: $nav-size;
    height: 40px;
    >.logo {
        float: left;
    }
    >.login {
        float: right;
    }
}

.menu {
    color: $menu-color;
    >ul {
        color: $menu-ul-color;
        >li {}
    }
}

.menu-bar {
    padding: 10px;
    font-size: 17px;
    border-bottom: 1px solid $menu-bar-border-color;
    p {
        float: left;
    }
    .fa {
        float: right;
    }
    &:after{
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}

.icons-menu {
    text-align: center;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
    ul li {
        float: left;
        width: $nav-size/4;
        height: $nav-size/4;
        p{
            font-size: 11px;
            color: $menu-icons-color;
        }
        i{
            font-size:25px;
            color: white;
        }
    }
}


.hamburger {
    margin-left: $nav-size;
    color: $hamburger-color;
}