@import "settings";
body,
ul,
li,
p,
i {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    background-color: $color-bg;
    font-family: Helvetica, Arial, sans-serif;
    color: $color;
}

nav {
    background-color: $nav-color-bg;
    position: absolute;
    width: $nav-size;
    min-height: 100vh;
    top: 0;
}

.top {
    background-color: $top-color-bg;
    margin-left: $nav-size;
    height: 40px;
    .logo {
        float: left;
        margin-top: 11px;
        margin-left: 72px;
        font-size: 18px;
    }
    .login {
        float: right;
        margin-top: 13px;
        margin-right: 72px;
        font-size: 14px;
        >* {
            float: left;
        }
        p {
            margin-left: 13px;
        }
    }
}

.menu {
    color: $menu-color;
    .fa-angle-up,
    .fa-angle-down {
        color: $menu-bar-arrow-color;
        font-size: 18px;
    }
    ul {
        color: $menu-ul-color;
        .list {
            font-size: 16px;
            margin: 11px;
            margin-left: 21px;
        }
        li {
            &:hover {
                color: $color;
            }
        }
    }
}

.menu-bar {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid $menu-bar-border-color;
    p {
        float: left;
    }
    .fa {
        float: right;
    }
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}

.icons-menu {
    text-align: center;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
    ul li {
        float: left;
        width: $nav-size/4;
        height: $nav-size/4;
        &:hover {
            background-color: $menu-icons-hover-color-bg;
            p,
            i {
                color: $nav-color-bg;
            }
        }
        p {
            font-size: 11px;
            color: $menu-icons-color;
        }
        i {
            margin-top: 18px;
            margin-bottom: 6px;
            font-size: 25px;
            color: $color;
        }
    }
}

.hamburger {
    margin-left: $nav-size + 20px;
    margin-top: 20px;
    color: $hamburger-color;
    font-size: 23px;
}