@import "settings";
body,
ul,
li,
p,
i {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}
button{
    border: none;
}

body {
    background-color: $color-bg;
    font-family: Helvetica, Arial, sans-serif;
    color: $color;
}
body.alerted{
            background-color: #474747;
        }

nav {
    background-color: $nav-color-bg;
    position: absolute;
    width: $nav-width;
    min-height: 100vh;
    top: 0;
}

.top {
    background-color: $top-color-bg;
    margin-left: $nav-width;
    height: 40px;
    .logo {
        float: left;
        margin-top: 11px;
        margin-left: 72px;
        font-size: 18px;
        font-weight: bold;
        }
    .login {
        float: right;
        margin-top: 13px;
        margin-right: 72px;
        font-size: 14px;
        >* {
            float: left;
        }
        p {
            margin-left: 13px;
            font-weight: bold;
        }
    }
}

.submenu {
    color: $menu-color;
    .fa-angle-up,
    .fa-angle-down {
        color: $menu-bar-arrow-color;
        font-size: 18px;
    }
    ul {
        color: $menu-ul-color;
        .list {
            font-size: 16px;
            margin: 11px;
            margin-left: 21px;
        }
        li {
            &:hover {
                color: $color;
            }
        }
    }
}

.menu-bar {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid $menu-bar-border-color;
    p {
        float: left;
    }
    .fa {
        float: right;
    }
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}

.icons-menu {
    text-align: center;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
    ul li {
        float: left;
        width: $nav-width/4;
        height: $nav-width/4;
        &:hover {
            background-color: $menu-icons-hover-color-bg;
            p,
            i {
                color: $nav-color-bg;
            }
        }
        p {
            font-size: 11px;
            color: $menu-icons-color;
            font-family: Verdana, sans-serif;
        }
        i {
            margin-top: 18px;
            margin-bottom: 6px;
            font-size: 25px;
            color: $color;
        }
    }
}

.hamburger {
    margin-left: $nav-width + 20px;
    margin-top: 20px;
    color: $hamburger-color;
    font-size: 23px;
}

.alert {
    color: $color;
    width: $alert-width;
    margin-left: auto;
    margin-right: auto;
    .head{
        font-size: 26px;
        padding: 20px;
        .title{
            float: left;
            >i{
                margin-right: 15px;
            }
        }
        .fa-times{
            float: right;
            font-size: 18px;
            padding-top: 10px
        }
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
        }
    }

    .text{
        width: auto;
        color: #b2b2b2;
        padding-left: 20px;
        padding-top: 28px;
        padding-bottom: 21px;
        font-size: 11px;
        border-radius: 5px 5px 0 0;
        background-color: $color-bg;
        font-family: Verdana, sans-serif;
    }
    .buttons{
        width: auto;
        background-color: #808080;
        border-radius: 0 0 5px 5px;
        .reverse-order{
            float: right;
            margin: 20px;
            .button{
                float: left;
                width: 125px;
                text-align: center;
                border-radius: 4px;
                padding-top: 13px;
                padding-bottom: 11px;
                font-weight: bold;
            }
            .cancel{
                background-color: #b3b3b3;
                margin-right: 15px;
            }
            .add{
                background-color: $color-bg;
                color: $add-butt-color;
            }   
        }
        &:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            height: 0;
        }  
    }
}